.loading-container {
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-container h3 {
  animation: is-rotating 1s infinite;
  border: 6px solid #e5e5e5;
  border-radius: 50%;
  border-top-color: #51d4db;
  height: 100px;
  width: 100px;
  margin: auto;
}
  @keyframes is-rotating {
    to {
      transform: rotate(1turn);
    }
  }